# RPCs
EVMX_RPC="https://rpc-evmx-devnet.socket.tech/"
SEPOLIA_RPC="https://rpc.ankr.com/eth_sepolia/"
ARBITRUM_SEPOLIA_RPC="https://rpc.ankr.com/arbitrum_sepolia"
OPTIMISM_SEPOLIA_RPC="https://rpc.ankr.com/optimism_sepolia"
BASE_SEPOLIA_RPC="https://rpc.ankr.com/base_sepolia"

# EVMx key addresses
# Find the most up to date addresses in deployments/dev_addresses.json
ADDRESS_RESOLVER="0xc4AC8186Dac133Cf132bb9FC7e2675e482670047"
AUCTION_MANAGER="0x6e156147B6fe75310D001d0eb0598173FBFB98E4"
FEES_MANAGER="0x9C92cC886Fe92f7700d045580d85A4D2BF3Ebf01"
ARBITRUM_FEES_PLUG="0x89324F93d852cB4fcDC4Ee202456be466ce096bb"

# Add your deployer private key here
# or remove it from this file if it is already an env var
PRIVATE_KEY="0x"

# Set app related values after deployment on EVMx
APP_GATEWAY="0x"

# FOR INFRASTRUCTURE DEPLOYMENT ONLY
# Removes hardhat issues related to linting and syntax checking
SOCKET_SIGNER_KEY="0000dead0000dead0000dead0000dead0000dead0000dead0000dead0000dead"
