[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/socket-poc"]
	path = lib/socket-poc
	url = https://github.com/SocketDotTech/socket-poc
